.configurator {
  padding: 20px;
  h3 {
    margin: 0;
    margin-top: 20px;
  }
  .perk-type {
    clear: both;
    .perk {
      float: left;
      width: 100px;
      margin-left: 20px;
      height: 100px;
      background: #666;
      color: #FFFFFF;
      font-size: 40px;
      transition: all 400ms ease-out;
      opacity: 1;
      text-align: center;
      padding-top: 20px;
      &:first-child {
        margin-left: 0;
      }
      &.active {
        background: #444444;
        border: 2px solid #222222;
      }
      &.hide-perk {
        opacity: 0;
      }
    }
  }
}